body {
  /*background: linear-gradient(to bottom right, #171717, #000000);/* Degradado de colores */
  background-color: #171717;
  font-family: Arial, sans-serif; /* Fuente del texto */
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  color:rgb(219, 219, 219);
  font-weight: 700;

  }

 
  .container {
    font-family:sans-serif;
    
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .imagenes{
    margin-top: 100px;
  }
  .img-container{
    display: flex;
    
    margin: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background: rgb(38, 38, 38);
    border-radius: 20px;
    border-color:#0be2a880;
    border: 10px #0be2a880;

    

  }
  
  .video{
   display: flex;
   /*background: linear-gradient(rgb(23, 22, 18),rgba(11, 226, 168, 0.5));*/
    background-color: #171717;
    align-items: center;
   
   border-radius: 20px;
    
    gap: 50px;
    justify-content: center;
    padding: 50px;
    border: 20px cadetblue;

    box-shadow: 1px 10px 20px #0be2a880;

    
    
  }
 footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family:Helvetica, sans-serif;
   font-size: 20px;
   background-color: #181818;
   border-top: 1px solid black;
   border-color:  rgba(11, 226, 168, 0.5);
   /* background: linear-gradient(rgba(23, 22, 18, 0.511),rgba(11, 226, 169, 0.133));
    */min-height: 200px;
    justify-content: center;
    text-align: center;

 }
 .imageSlider{
  
   overflow: hidden;
   height: 720px;
   width: 1280px;
   margin: 50px auto 0;
   
 }
 #switchButton{
  border-color:#a530db82 ;
  height: 90%;
  width: 10%;
  background-color: rgba(195, 202, 208, 0);
  color:#ebebeb;
  box-shadow:1px 1px 5px #a530db82;
  display: flex;
  font-size: 20px;
  border-radius: 10px;
  font-weight:800;
  width: auto;
 }
 .gallery-images{
  display: flex;
   margin-left: 50px;
   justify-items: center;
   align-items: center;
   
   
  
 }
 .img-galeria{
   box-shadow:0px 0px 50px rgba(165, 48, 219, 0.511);
   border-color: #a530db82;
   border-style: ridge;
 }
 .slider-container{
  display: flex;
  max-width: 99%;

  /*background: linear-gradient(rgba(165, 48, 219, 0.511),rgba(90, 62, 91, 0.133));
  */
  box-shadow:1px 1px 50px rgba(165, 48, 219, 0.511);
  border-radius: 20px;
  height: 800px;
  width: 1500px;
  margin: auto;
  padding: auto;
  margin-top: 20px;
 }
.img {
  
  max-width: 99%;
  max-height: 99%;
 
}
.button-slider{
  border: none;
  height: 90%;
  width: 10%;
  background-color: rgba(240, 248, 255, 0);
  color:#0be2a880;
  font-size: 60px;
  display: flex;
  align-items: center;
  
}
.button-slider:hover{ 
  border: none;
  height: 90%;
  width: 10%;
  background-color: rgba(70, 68, 68, 0.319);
  color:#0be2a880;
  font-size: 60px;
}
#anterior{
  left: 0;
  position: absolute;
}
#siguente{
  right: 0;
  position: absolute;
}
.botoncito{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px;


}


  .row {
    border:#330f1c;
    border-radius: 15px;
    border-color: #330f1c;
    border-style: solid;
  
    background-color:#a86d43;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .carga{
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin: auto;
    background-color:bisque;
  }
  .column {
    flex: 1;
    padding: 10px;
  }
  .titulos{
    
    font-family:Helvetica, sans-serif ;
    font-weight: 200px;
    margin-left: 100px;
  
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  .container-nav {
    font-family: Helvetica, sans-serif;
    display: flex;
    padding:10px;
    height: 50px;
    box-shadow: 1px 5px 10px #0be2a880;
    margin : -10px
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 10px 24px;
    color:rgba(11, 226, 168, 0.5);
  }
  
  
  li {
    list-style-type: none;
  }
  

  a {
    margin: 10px;
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-weight: 900;
    
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    
  }
  
  
   .button-menu-toggle {
     display: none;
   }
   

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .gallery-images{
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 5px;
      margin-bottom: 50px;
      
     }
    .container-nav
    
    body{
     font-size: 30px;

    }
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      align-items: center;
      display: flex;
      background-color:  rgba(11, 226, 168, 0.5);
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20, 20, 20, 0.918);
      width: 100%;
      height: 100%;
      top: 10px;
      left: 0;
      flex-direction: column;
      padding-top: 50px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
    
  }